@charset "UTF-8";

/* Tablet: 768px até 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {
    section.projeto-numeros {
        width: 90vw;
    }

    section.projeto-numeros > div.imagem {
        float: left;
        width: 40%;
        height: 100%;
        background-position: center center;
    }

    section.projeto-numeros > div.analizador {
        float: right;
        width: 60%;
    }
}

/* Celular: de 600px até 768px */
@media screen and (max-width: 768px) {
    body {
        background: rgb(47, 47, 150);
    }   

    section.projeto-numeros {
        width: 300px;
        height: 540px;
    }

    section.projeto-numeros > div.imagem {
        display: block;
        width: 100%;
        height: 90px;
    }

    section.projeto-numeros > div.analizador {
        display: block;
        width: 100%;
    }
    
    .campo select {
        width: 180px;
        height: 40px;
    }
}