* {
    margin: 0px;
    padding: 0px;
}

body, html {
    background-image: linear-gradient(to top, #00cec0, rgb(47, 47, 150));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

header > h1 {
    text-align: center;
    padding: 10px;
    color: white;
}

section.f-analizador {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 950px;
    height: 460px;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.452);
    transform: translate(-50%, -50%);
}

section.f-analizador > div.imagem {
    float: right;
    width: 50%;
    height: 100%;
    background-image: url(../imagens/analizador.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

section.f-analizador > div.analizador {
    float: left;
    width: 50%;
}

div.campo {
    text-align: center;
    margin-top: 20px;
}

div.campo label {
    margin: 0px 130px 5px 0px;
    display: block;
	color: #024059;
	font-size: 1.1em;
}

.campo input[type="text"] {
	width: 40%;
    padding: 8px;
    border: 2px solid #127369;
    border-radius: 8px;
} 

.campo input:focus-within {
    background-color: rgb(235, 235, 235);
    outline: none;
}

.campo select {
    width: 180px;
    margin-top: 10px;
}

.campo button {
    width: 100px;
    height: 40px;
    margin-left: 5px;
    background-color: #038C3E;
    color: white;
    font-size: 1.04em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.campo button:hover {
    background-color: #03A64A;
}

.analizador > button {
    margin: 8px auto;
    display: block;
    width: 100px;
    height: 40px;
    background-color: #193C40;
    color: white;
    font-size: 1.04em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.analizador > button:hover{
    background-color: #286066;
}

div.res {
    text-align: center;
    padding: 5px;
    font-size: 1.1em;
    line-height: 1.4em;
}