* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to top, #00cec0, rgb(47, 47, 150));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section.projeto-numeros {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 950px;
    height: 460px;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.336);
    transform: translate(-50%, -50%);
}

section.projeto-numeros > div.imagem {
    float: right;
    width: 50%;
    height: 100%;
    background-image: url(../imagens/analizador.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

section.projeto-numeros > div.analizador {
    float: left;
    width: 50%;
}

div.analizador {
    text-align: center;
}

div.analizador > h1 {
    margin: 10px 0px;
    color: rgb(255, 0, 0);
}

div.campo label {
    margin: 0px 130px 5px 0px;
    display: block;
	color: #024059;
	font-size: 1.1em;
}

.campo input[type="text"] {
	width: 40%;
    padding: 8px;
    border: 2px solid #127369;
    border-radius: 8px;
} 

.campo input:focus-within {
    background-color: rgb(235, 235, 235);
    outline: none;
}

.campo select {
    width: 180px;
    margin-top: 10px;
}

.campo > button {
    width: 100px;
    height: 40px;
    background-color: #038C3E;
    color: white;
    font-size: 1.04em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.campo > button:hover {
    background-color: #03A64A;
}

.analizador > button {
    width: 100px;
    height: 40px;
    margin-top: 14px;
    background-color: #193C40;
    color: white;
    font-size: 1.04em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.analizador > button:hover {
    background-color: #286066;
}

div.res {
    text-align: center;
    padding: 5px;
    font-size: 1.1em;
    line-height: 1.4em;
}